version: "3.7"

services:
  prod_image:
    container_name: capstone_sealdeal_prod_image
    restart: "always"
{% if prod == 'true' %}
    image: {{dockerPath}}
{% else %}
    build:
      context: .
      dockerfile: Dockerfile.prod
{% endif %}
    volumes:
      - db-config-initdb:/db-config/initdb
      - db-config-migrations:/db-config/migrations
      - db-config-flyway:/db-config/flyway
      - web-files:/build
      - nginx-config-confd:/nginx-config/conf.d
      - nginx-config-auth:/nginx-config/auth

  database:
    image: docker.io/postgres:13.5-alpine
    restart: "always"
    depends_on:
      - "prod_image"
    environment:
      POSTGRES_PASSWORD: possupassu
    networks:
      - db_net
    volumes:
      - db-data:/var/lib/postgresql/data
      - db-run:/var/run/postgresql
      - db-config-initdb:/docker-entrypoint-initdb.d:ro

  migrations:
    image: docker.io/flyway/flyway
    restart: "no"
    depends_on:
      - "database"
    command: "migrate"
    networks:
      - db_net
    volumes:
      - db-config-flyway:/flyway/conf:ro
      - db-config-migrations:/flyway/sql:ro

  postgrest:
    image: docker.io/postgrest/postgrest
    restart: always
    depends_on:
      - "database"
      - "migrations"
    environment:
      PGRST_DB_URI: 'postgresql:///postgres?user=postgres'
      PGRST_DB_SCHEMA: api
      PGRST_DB_ANON_ROLE: api_anon
      PGRST_SECRET_IS_BASE64: 0
      PGRST_JWT_SECRET: JZT7z9E3dA4t25jB
    networks:
      - backend_net
    volumes:
      - db-run:/run/postgresql

  nginx:
    image: docker.io/nginx:stable-alpine
    restart: "always"
    command: ["nginx", "-g", "daemon off;"]
    depends_on:
      - "postgrest"
      - "prod_image"
    networks:
      - backend_net
    ports:
      - "{{port}}:80"
    volumes:
      - web-files:/usr/share/nginx/html:ro
      - nginx-config-confd:/etc/nginx/conf.d:ro
      - nginx-config-auth:/auth:ro


networks:
  db_net:
  backend_net:

volumes:
  db-data:
  db-run:
  db-config-initdb:
  db-config-migrations:
  db-config-flyway:
  web-files:
  nginx-config-confd:
  nginx-config-auth:
