FROM docker.io/node:16.13.0-alpine as build
WORKDIR /app
ENV PATH /app/node_modules/.bin:$PATH
COPY ./my-app/package.json ./
COPY ./my-app/package-lock.json ./
RUN npm ci
COPY ./my-app/ ./
RUN npm run build:prod

# production environment
FROM docker.io/alpine:3.14
COPY --from=build /app/build /build
COPY ./my-app/db-config/ /db-config
COPY ./my-app/nginx/nginx.conf /nginx-config/conf.d/default.conf
COPY ./http-auth-users.txt /nginx-config/auth/.htpasswd
